#include("include_main_item_template1.vm")
depth_tst_0:
  #parse("include_main_item_template2.vm")
  #parse("include_main_item_template1.vm")
depth_tst_1:
  #include("include_main_item_template2.vm")
depth_tst_2:
  tst_depth_2_1:
    #include("include_main_item_template2.vm")
    #parse("include_main_item_template2.vm")
depth_tst_3:
  #include("include_main_item_template3.vm")
  #parse("include_main_item_template3.vm")
